<section id="hero" class="bg-img fill cover">

    <div class="row middle">
        <div id="left">
            <div id="auto">
                <h1>{{ .Site.Params.hero.auto.title }}</h1>

                <ul class="replacement_words">
                    {{range  .Site.Params.hero.auto.replacement_words}}
                        <li class="verb">{{.}}</li>
                    {{end}}
                </ul>
            </div>
        </div>

        <div id="right">
            <div id="mato">
                <h1>{{ .Site.Params.hero.mato.title }}</h1>

                <ul class="replacement_words">
                    {{range  .Site.Params.hero.mato.replacement_words}}
                        <li class="verb">{{.}}</li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
        <div class=" overlay explain auto">
            ciao
        </div>
        <div class="overlay explain mato">
            ciao
        </div>

</section>
