<section id="hero" class="bg-img fill cover">

    <div class="row middle">
        <div id="left">
            <div id="auto">
                <h1>{{ .Site.Params.hero.auto.title }}</h1>

                <ul class="replacement_words">
                    {{range  .Site.Params.hero.auto.replacement_words}}
                        <li class="verb">{{.}}</li>
                    {{end}}
                </ul>
            </div>
        </div>

        <div id="right">
            <div id="mato">
                <h1>{{ .Site.Params.hero.mato.title }}</h1>

                <ul class="replacement_words">
                    {{range  .Site.Params.hero.mato.replacement_words}}
                        <li class="verb">{{.}}</li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
        <div class=" overlay explain auto">
          <div class="content middle">
            <h2>{{ .Site.Params.hero.auto.claim }}</h2>
            <h4>{{ .Site.Params.hero.auto.time }}</h4>
          </div>

        </div>
        <div class="overlay explain mato">
          <div class="content middle">
            <h2>{{ .Site.Params.hero.mato.claim }}</h2>
            <h4>{{ .Site.Params.hero.mato.time }}</h4>
          </div>
        </div>

</section>
